[submodule "vim/bundle/MultipleSearch"]
	path = vim/bundle/MultipleSearch
	url = https://github.com/vim-scripts/MultipleSearch.git
[submodule "vim/bundle/Conque-Shell"]
	path = vim/bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
